<!DOCTYPE html>
<html> 

<head> 
      <title>Mercado Liebre </title>
      </head> 

<body>      
    <header>   
        <img src="/images/logo-mercado-liebre.svg">
        <li>Lugar para poner la barra de búsqueda </li>
        </h1>
        <input type="search"></input> </li>   
        <li>Comprá en cuotas y sin tarjeta de crédito  </li>
        <ul>     
            <li><a href="#">Ofertas</a></li>   
            <li><a href="#">Tiendas Oficiales </a></li>     
            <li><a href="#">Vender </a> </li> 
            <li><a href="#">Ayuda </a></li>   
             
        </ul>
        <ul>
            <li> <a href="#">Crea tu Cuenta </a></li>     
            <li><a href="#">Ingresa </a> </li> 
            <li><a href="#">Mis Compras </a> </li>    
            <img src="/images/img-home-banner.jpg">
    </header> 
    <main> <ul>
        
    <li><h2>Sección:Basado en tu última visita </h2> </li>   
 <img src="/images/img-cafetera-moulinex.jpg">
              
        <p>$6.770</p>   
        <p>40% OFF</p>   
        <b>Cafetera Moulinex</b></li>
          </ul>
        <img src="/images/img-macbook-pro-2019.jpg">
        <p>$230.000</p> 
        <p>20% off</p> 
        <b>MacBook Pro 2019</b>
        </ul> <ul>                                                                                                     
        <img src="/images/img-samsung-galaxy-s10.jpg">
          <p>$70.500</p>
          <p>10% off</p>
          <b>Samsung Galaxy S10</b>
        </ul>
        <ul> 
            <img src="/images/img-tv-samsung-smart.jpg">
            <p>$23.200</p> 
            <p>5% off</p>
            <b>SmartTv Samsung 43"</b>
        </ul>
        <ul> 
            <li>
                <h2>Sección de Ofertas</h2> 
            </li>  <ul> 
                <img src="/images/img-cafetera-moulinex.jpg">
                <p>$6.770</p> 
                <p>40% OFF</p>
                 <b>Cafetera Moulinex</b>                                     
                <img src="/images/img-macbook-pro-2019.jpg">
                <p>$230.000</p>   
                <p>20% ofF</p>   
                <b>MacBook Pro 2019 </b> 
                 <img src="/images/img-samsung-galaxy-s10.jpg">
                <p>$70.500</p>   
                <p>10% off</p> 
                <b>Samsung Galaxy S10</b> 
                <img src="/images/img-tv-samsung-smart.jpg">
                 <p>$23.200</p>   
                <p>5% off</p>
                <b>SmartTv Samsung 43"</b> 
            </ul> 
    </main>
    <footer> 
        <h2>
            <p>Pagá con tarjeta o en efectivo </p> 
        </h2> 
        <p>Con Mercado Liebre Cash,tenés cuotas sin interés con tarjeta o efectivo en    puntos de pago. ¡Y
            es seguro!  </p> 
        <h2>    <p>Envío gratis
                desde $ 2.500    </p> 
        </h2>  <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de    productos. Es un beneficio de Mercado Puntos.  </p> 
        <h2>
            <p>Seguridad, de principio a fin
            <p>
        </h2> 
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,    porque estás siempre
            protegid@.</p>
          <p>Copyright © 1999-2020 MercadoLiebre S.R.L.    </p>   </ul>
    </footer>
</body>

</html>