
    /*footer*/ 
    body footer {
        text-align: center;
        color: #666;
        font-size: 16px;
        margin-bottom: 60px;
    }
    
    body footer i {
        font-size: 2em;
        color: #1259c3;
        margin-bottom: 10px;
    }
footer section p{
    text-align: left;
}


body footer section i:hover{
color: #00a;}

@media(min-width:1024px){
    body footer .content-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
}
body footer .content-footer section{
    width:33%
}}