* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
   
}

/*header*/

header {
    background-color: #EAC926;
 
}

.logo {
    width: 180px;
    font-size: 20px;
    width: 50%;
}

.search {
    text-align: left;
    font-size: 20px;
    margin: 0 0 0 5px;
    width: 50%;
    padding: 0px;
    align-content: stretch;
}

.search i {
    font-size: 20px;
    background-color: white;
    padding: 5px;
    border-bottom-color: white;
    margin-bottom: auto;
    text-align: left;
}

.copy {
    font-weight: 50px;
    text-align: center;
    font-size: 18px;
    margin: 0px;
    justify-items: center;
}

.logo-search {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
}

header nav .navega {
    display: none;
}
header nav .login {
    display: none;}

header nav .navega a {
    text-decoration: none;
    color: black;
}

header nav li {
    list-style: none;
}


header nav .login a {
    color: black;
    text-decoration: none;
}




img {
    width: 100%;
}

header nav .navega ul {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
    border: 10px;
    
}

header nav .login ul {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
    border: 10px;
}



.copy {
    font-weight: 100px;
    text-align: center;
    font-size: 16px;
    margin: 0px;
}


/*main*/

main section article .precio {
    display: flex;
    flex-grow: 0.30;
}

main section article .descuento {
    display: flex;
    flex-grow: 0.70;
}

main section article .precio .descuento {
    display: flex;
    align-items: stretch;
}

main section article .h3 {
    font: size 18px;
}

main section article .p {
    font-size: 16px;
}

main section article .b {
    font-size: 16px;
}

main section article .h2 {
    font-size: 18px;
}

.burguer-menu {
    color: #ffff;
    background-color: #1259c3;
    display: block;
    max-width: 35px;
    padding: 12px 0;
    border-radius: 8px;
    font-size: 20px;
    margin: auto;
    text-align: center;
}

main {
    background-color: white;
}

article {
    width: 100%;
    margin: 10px;
    border: solid #ebebeb 15px;
    padding: 0;
}


main section article .descripcion i {
    display: none;
    background: #ffffff;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #39b54a;
    color: #39b54a;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: all ease .3s;
}

main section article:hover .descripcion i {
    box-shadow: 0 0 5px var(--Verde);
    transform: rotate(180deg);
}

.main section article .descripcion {
    border-top: 1px solid #ebebeb;
    display: none;
}

div.descripcion .h3 {
    font-size: 18px;
}

div.descripcion.p {
    font-size: 16px;
}

div.descripcion.b {
    font-size: 16px;
}

div.descripcion p {
    color: #39b54a;
    font-size: 16px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main section article .descripcion {
    display: none;
}

main section article .descripcion .descrip {
    height: 0;
    transition: all ease .3s;
    overflow: hidden;
    color: var(--Gris oscuro);
    font-size: 16px;
}

main section article:hover .descripcion .descrip {
    height: 20px;
    margin-top: 10px;
}

main section article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

/**tablets**/

@media(min-width:361px) {
    .box {
        display: flex;
    }
    div.logo-search-copy {
        display: flex;
        align-items: stretch;
        text-align: center
    }
    .logo {
        width: 200px;
        
    }
    header .nav-menu {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        }
    header nav .navega {
        display: flex;
        justify-content: space-between;
    }
    header nav .login {
        display: flex;
        justify-content: space-between;}
    
    
    .navega a {
        font-size: 16px;
        text-decoration: none;
    }
    .login ul a {
        font-size: 16px;}
        .nav{
            display: flex;
            justify-content: space-between;
            
        }
    
    main section article {
        width: 46%;
    }
    main section article .descripcion {
        position: relative;
        display: flex;
    }
    div.descripcion {
        border-top: 1px solid #ebebeb;
        display: flex;}
    main section article .descripcion i {
        display: block;
        background: #ffffff;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #39b54a;
        color: #39b54a;
        position: absolute;
        right: 20px;
        top: -15px;
        transition: all ease .3s;
    }

    }
/**desktop**/

@media(min-width:769px) {
    .logo {
        width: 400px;
    }
    .logo-search-copy {
        display: flex;
        align-items: stretch;
        text-align: justify;
        font-size: 25px;
    }
    
    .search input {
        font-size: 20px;
        margin: 0 0 0 5px;
    }
    .search i {
        font-size: 25px;
        background-color: white;
        border-bottom-color: white;
    }
    .copy {
        font-weight: 350px;
        text-align: center;
        font-size: 25px;
        margin: 0;
    }
 header .nav-menu {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin:auto;
    }
    .navega ul a {
        list-style: none;
        text-decoration: none;
        color: black;
        font-size: 20px;
        margin:auto;
   
    }
    .login ul a {
        color: black;
        list-style: none;
        text-decoration: none;
        font-size: 20px;
    }
    .burguer-menu {
        display: none;
    }
    main h2 {
        font-size: 18px;
    }
    main section article {
        width: 23%;
    }
    div.descripcion {
        border-top: 1px solid #ebebeb;
        display: flex;
    }
    div.descripcion p {
        color: #39b54a;
        font-size: 18px;
    }
    div.descripcion h3 {
        font-size: 18px;
    }
    div.descripcion b {
        font-size: 18px;
    }
    main section article .descrip {
        display: flex;
        margin: auto;
        text-align: left;
    }
    footer {
        text-align: center;
        font-size: 18px;
    }
    footer section p {
        font-size: 18px;
        text-align: center;
    }
}