/*contenedor general*/

.contenedor {
    width: 90%;
    margin: 0 auto;
    max-width: 375px;
    background-color:var(--GrisClaro);
}

/* contenedor input*/

.contenedor .container-input {
    display: flex;
    margin: 20px 0;
}

/*input*/

.contenedor .container-button {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.contenedor .container-input .radio{
    margin:0 20px;
}

