*{
    box-sizing: border-box;
}
body{
    background-color:#EAC926;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin:0;}
    .logo{
      width: 100px;
    
        font-size: 20px;
    }
    .search{
       text-align: left;
       font-size: 12px;
       
       margin:0 0 0 5px;
       
    }
    .search i{
        font-size: 18px;
        background-color: white;
        border-bottom-color: white;
        margin-bottom: auto;
    }
   .nav{
    display: none;
    }
   div.nav ul a{
    list-style: none;
    text-decoration: none;
    color: black;
   }
   div.login ul a{
       color: black;
       list-style: none;
    text-decoration: none;
   }
    .login{
        display: none;}
img{
    width: 100%;}

  .nav ul{
      
      
      margin: 0;
      padding: 0;
    }
.login ul{
   
    
    margin: 0;
      padding: 0;}
      
      
.copy{
    font-weight: 100;
    text-align: center;
    font-size: 12px;
    margin: 0;}
    main i{
        background: #ffffff;
        padding: 13px;
        border-radius: 50%;
border: 1px solid #39b54a;
color:#39b54a;

    }
    


.h2{
 font-size:24px;
}
.h3{
    font: size 18px;
}
.p{
    font-size: 16px;
}
.b{
    font-size: 16px;
}
footer{
    text-align: center;
    background-color: #ebebeb;
 color:  #666;

  
}

.desplegable{
       font-size: 2em;
    color: #343a42;
   }
.burguer-menu{
   
    color:#ffff ;
    background-color: #03264c;
    display: block;
    max-width: 35px;
    padding: 12px 0;
    border-radius: 8px;
    font-size: 20px;
    margin: auto;
    text-align: center;
}
main{
    
  
    background-color: white;

    }
   
   
   article{
       margin: 10px;
       border: solid #ebebeb 15px;
       padding:0;
       
       
   }

   div.descripcion{
       border-top: 1px solid #ebebeb;
       
       display: none;}

    
    div.descripcion p{
        color: #39b54a;
        font-size: 16px;
    }

    /**tablets**/
    @media(min-width:361px){
.logo{
    width: 240px;
}
        .nav{
            display: flex;
            margin:0;
        }
            .login{
                display: flex;
            margin: 0;}
                .burguer-menu{
                    display: none;
                }
                div.descripcion{
                    display: flex;}
                    article{
                box-shadow:0px 0px 10px rgb(100,100,100);}
    }
/**desktop**/

@media(min-width:769px){
    .logo{
        width: 300px;
    }
    .nav{
        display: flex;
    margin: 0px;
    
}
    .login{
        display: flex;
    }
        .burguer-menu{
            display: none;
        }
        div.descripcion{
            display: flex;}
    article{
    box-shadow:0px 0px 10px rgb(100,100,100);}
}
    
